
.topcontainer {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 20px;
}

.formcontainer {
    margin: 50px
}

.card {
    padding: 20px;
}

.card-image {
    padding-bottom: 20px;
}

::-webkit-scrollbar {
    display: none;
}
